// Dentix Variables
$jumbotron-height: 200px;
$panel-heading-padding: 2px;
$border-radius-base: 0;

// Dentix Colors
$dentix-main: #753470;
$dentix-main-80: #895287;
$dentix-main-65: #9a6e99;
$dentix-main-50: #ae8eaf;
$dentix-main-35: #c5afc8;
$dentix-main-20: #ddd2e0;
$dentix-main-10: #f1eaf0;

$dentix-secondary: #585857;

$dentix-white: #fff;

$gray-base:              $dentix-secondary;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 60.5%); // #eee

// Body
/*$body-bg: #f5f8fa;*/
$body-bg: $dentix-white;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: $dentix-main;
$brand-info: $dentix-main-65;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Global textual link color.
$link-color: $dentix-white;
// Link hover color set via `darken()` function.
$link-hover-color: $dentix-white;
// Link hover decoration.
$link-hover-decoration: underline;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: $dentix-secondary;
$text-color-secondary: $dentix-main;

// Components

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base:        10px;
$border-radius-large:       15px;
$border-radius-small:       5px;

// Navbar links
$navbar-default-link-color:                $dentix-white;
$navbar-default-link-hover-color:          $dentix-main;
$navbar-default-link-hover-bg:            $dentix-white;
$navbar-default-link-active-color:         #555;
/*$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);*/
$navbar-default-link-disabled-color:       #ccc;
/*$navbar-default-link-disabled-bg:          transparent;*/

// Navbar
$navbar-default-bg: $dentix-main;

// Buttons
/*$btn-font-weight:                normal;*/

$btn-default-color:              $text-color;
$btn-default-bg:                 $dentix-white;
$btn-default-border:             $dentix-main-35;

$btn-primary-color:              $dentix-white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             darken($btn-primary-bg, 5%);

$btn-success-color:              $dentix-white;
$btn-success-bg:                 $brand-success;
$btn-success-border:             darken($btn-success-bg, 5%);

$btn-info-color:                 $dentix-white;
$btn-info-bg:                    $brand-info;
$btn-info-border:                darken($btn-info-bg, 10%);

$btn-warning-color:              $dentix-white;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             darken($btn-warning-bg, 5%);

$btn-danger-color:               $dentix-white;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              darken($btn-danger-bg, 5%);

$btn-link-disabled-color:        $gray-light;

/*// Allows for customizing button radius independently from global border radius*/
$btn-border-radius-base:         $border-radius-base;
$btn-border-radius-large:        $border-radius-large;
$btn-border-radius-small:        $border-radius-small;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

$input-color:                    $dentix-secondary;

// Navbar

// Basics of a navbar
/*$navbar-height:                    50px;
$navbar-margin-bottom:             $line-height-computed;
$navbar-border-radius:             $border-radius-base;
$navbar-padding-horizontal:        floor(($grid-gutter-width / 2));
$navbar-padding-vertical:          (($navbar-height - $line-height-computed) / 2);
$navbar-collapse-max-height:       340px;*/

$navbar-default-color:             $dentix-white;
$navbar-default-bg:                $dentix-main;
$navbar-default-border:            darken($navbar-default-bg, 6.5%);

// Navbar links
$navbar-default-link-color:                $dentix-white;
$navbar-default-link-hover-color:          $dentix-main;
$navbar-default-link-hover-bg:             $dentix-white;
$navbar-default-link-active-color:         $dentix-white;
$navbar-default-link-active-bg:            darken($navbar-default-bg, 6.5%);
$navbar-default-link-disabled-color:       $dentix-main-50;
$navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
$navbar-default-brand-color:               $navbar-default-link-color;
$navbar-default-brand-hover-color:         darken($navbar-default-brand-color, 10%);
$navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
$navbar-default-toggle-hover-bg:           $dentix-white;
$navbar-default-toggle-icon-bar-bg:        $dentix-main-50;
$navbar-default-toggle-border-color:       $dentix-white;

// Panels

$panel-bg:                   $dentix-white;
$panel-body-padding:          15px;
$panel-heading-padding:       10px 15px;
$panel-footer-padding:        $panel-heading-padding;
$panel-border-radius:         $border-radius-base;

// Border color for elements within panels
$panel-inner-border:          #ddd;
$panel-footer-bg:             $dentix-main-10;

$panel-default-text:          $dentix-white;
$panel-default-border:        #ddd;
$panel-default-heading-bg: 	  $dentix-main-80;

$panel-primary-text:         $dentix-white;
$panel-primary-border:        $brand-primary;
$panel-primary-heading-bg:    $brand-primary;

/*$panel-success-text:          $state-success-text;
$panel-success-border:        $state-success-border;
$panel-success-heading-bg:    $state-success-bg;

$panel-info-text:             $state-info-text;
$panel-info-border:           $state-info-border;
$panel-info-heading-bg:       $state-info-bg;

$panel-warning-text:          $state-warning-text;
$panel-warning-border:        $state-warning-border;
$panel-warning-heading-bg:    $state-warning-bg;

$panel-danger-text:           $state-danger-text;
$panel-danger-border:         $state-danger-border;
$panel-danger-heading-bg:     $state-danger-bg;*/