// Global textual link color.
$link-color: $dentix-main;
// Link hover color set via `darken()` function.
$link-hover-color: $dentix-white;
// Link hover decoration.
$link-hover-decoration: underline !default;
/* make sidebar nav vertical */ 
.navbar-left-sidebar {
  background-color: #E8E8E8;
  box-shadow: 0px 3px 0px 0px #666;
  border-radius: 0;
}
.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
}
.sidebar-nav .navbar ul {
  float: none;
  display: block;
  color: #333;
}
.sidebar-nav .navbar li {
  float: none;
  display: block;
  color: #444;
}
.sidebar-nav .navbar li:nth-child(even) {
  background-color: #FFF;
  color: #555;

}
.sidebar-nav .navbar li a {
  padding-top: 8px;
  padding-bottom: 8px;
  color: inherit;
}
/* Left-SideBar unique styles */
.sidebar-nav > .navbar-default .navbar-nav > li > a {
  color: inherit;
}
.sidebar-nav > .navbar-default .navbar-nav > li > a:hover,
  .sidebar-nav > .navbar-default .navbar-nav > li > a:focus,
  .sidebar-nav > .navbar-default .navbar-nav > li > a:active {
  color: $dentix-white;
  background-color: #777;
}
.sidebar-nav > .navbar-default .navbar-nav > .active > a, 
.sidebar-nav > .navbar-default .navbar-nav > .active > a:hover, 
 .sidebar-nav > .navbar-default .navbar-nav > .active > a:focus {
  background-color: $dentix-main;
  color: $dentix-white;
}
.sidebar-nav .navbar li .menu-name {
 font-size: 0.9em;
}
.sidebar-nav .badge-menu {
    background: $dentix-main;
    color: #FFF;
    font-size: 14px;
    padding: 2px 8px 4px 8px;
}
.sidebar-nav > .navbar-default .navbar-nav > li > a:hover .badge-menu,
  .sidebar-nav > .navbar-default .navbar-nav > li > a:focus .badge-menu,
  .sidebar-nav > .navbar-default .navbar-nav > li > a:active .badge-menu {
    background: inherit;
    color: inherit;
    border: 1px solid;
}
.sidebar-nav > .navbar-default .navbar-nav > .active > a .badge-menu, 
.sidebar-nav > .navbar-default .navbar-nav > .active > a:hover .badge-menu, 
 .sidebar-nav > .navbar-default .navbar-nav > .active > a:focus .badge-menu {
  background: #FFF;
  color: #666;
}
.left-menu-link-container {
    font-size: 1.3em;
    padding-bottom: 4px;
}
.left-menu-link-container span {
    display: inline-block;
    vertical-align: middle;
}
hr.left-nav-hr {
    margin: 0 20px;
    border-top: 1px dotted $dentix-main-80;
    border-color: inherit;
}
#left-nav-footer {
  position: absolute;
  bottom: 50px;
  z-index: 9999;
  left: 0px;
  height: 50px;
  background-color: #753470;
  width: 100%;
  color: #FFF;
  text-align: center;
  font-size: 1.3em;
  padding-top: 10px;
  box-shadow: inset 0px 5px 0px 0px #5e2a5a;
}
#left-nav-footer span {
  display: inline-block;
  padding: 0 5px;
}
@media (min-width: 768px) {
  #left-sidebar {
    position: relative;
    width: 150px;
    float: left;
    height: 100vh;
    padding: 0;
    background: #777;
    -webkit-box-shadow: 2px 0 0px #AAA;
    box-shadow: 2px 0 0px #AAA;
    border-right: 1px solid #666;
    margin-left: -15px;
  }
  #side-profile {
    min-height: $jumbotron-height;
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    border-bottom: 2px solid #444;
    background-color: $dentix-white;
  }
  #side-profile a.thumbnail {
    margin-bottom: 12px;
    max-width: 80%;
  }
  .profile-info {
    line-height: 0.8;
  }
  #profile-name {
    font-weight: bold;
    color: $dentix-main;
  }
  .navbar-left-sidebar {
  }
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
    text-align: center;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .sidebar-nav .navbar li#surveys .badge {
    float: right;
    background-color: $dentix-main;
  }
}

@media (max-width: 992px) {
  #left-sidebar li a{
    text-align: center;
  }
  #left-sidebar li .glyphicon{
    font-size: 20px;
    border: 2px solid $dentix-main;
    border-radius: 100%;
    padding: 10px;
  }
  #left-sidebar #side-profile {
    padding-top: 10px;
  }
  #left-sidebar .profile-info {
    line-height: 1.1;
  }
  #left-sidebar .profile-info p{
    margin-bottom: 5px;
  }
}