.group-container {
    width: 350px;
    height: fit-content;
    box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.1);
    h4 {
        font-size: 13px;
    }
    .medical-chart-header {
        background-color: $dentix-main;
        color: $dentix-white;
        padding: 5px 10px;
        border-radius: 0px;
        &.selected {
            background-color: $dentix-secondary-20;
        }
    }
    .personal-chart {
        border-radius: 0px;
        &.selected {
            background-color: $dentix-secondary;
            color: $dentix-white;
        }
    }
}

#medical-chart-player {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
    height: 100vh;
    background-color: $dentix-secondary-20;
    z-index: 99999;
    * {
        overflow: hidden;
    }
    .player-group-container {
        .player-row {
            height: 100px;
            .player-name {
                align-items: center;
                font-size: 3.5em;
                font-weight: 100;
                .license {
                    color: $dentix-secondary;
                    font-size: .8em;
                }
            }
        }
        .medical-chart-header {
            background-color: $dentix-main;
            color: $dentix-white;
        }
        .personal-chart {
            color: $dentix-main;
            background-color: $dentix-white;
        }
    }
}
