
#main-content {
    .v--modal-overlay {
        overflow: auto;
        z-index: 9999;
    }
    .v--modal {
        .panel-default {
            margin-bottom: 0;
        }
        .panel-default > .panel-body {
            // max-width: 95%;
            // margin: auto;
            padding: 20px;
        }
        .modal-heading {
            background-color: $dentix-main;
            padding: 15px 5px;
            color: $dentix-white;
            box-shadow: inset 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
        }
        .modal-body {
            padding: 0;
        }
        .modal-footer {
            background-color: #f1eaf0;
            border-top: 1px solid #ddd;
            padding: 10px 15px;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
            box-shadow: inset 0px 1px 2px 0 rgba(134, 49, 115, 0.5);
        }
    }
} 