// #orders .btn {
//     border: 1px solid $dentix-main;
// }

#orders .btn img {
    max-height: 100px;
    border: 1px solid lightgray;
}

#orders .btn p {
    margin: 0;
    padding: 8px 5px 0px 5px;
}

