::selection {
	background-color: $dentix-main-10;
	color: $dentix-main;
}
* {
    font-family: "Raleway", Helvetica, Arial, sans-serif;
}
body {
	overflow: hidden;
}
hr {
	margin: 10px 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mb-10 > *:not(:last-child) {
    margin-bottom: 10px;
}
.mr-10 > *:not(:last-child) {
    margin-right: 10px;
}
.mb-10-all > * {
    margin-bottom: 10px;
}
.mr-10-all > * {
    margin-right: 10px;
}
.m-0 {
    margin: 0;
}
.pv-20 {
    padding: 20px 0;
}
.header {
    margin-bottom: -15px;
}
.below-header {
    margin-top: 15px;
}
.empty {
    color: $dentix-main;
    margin: 20px 0;
}
.navbar {
	margin-bottom: 0;
	border: 0;
}
.glyphicon {
	padding-right: 5px;
}
#tutorial-schedule {
    padding-top: 30px;
    padding-right: 30px;
}
.tutorial-tab-number {
    padding: 8px 12px;
}
.tutorial-prompt {
    padding: 15px 30px;
    margin-right: -5px;
}
.tutorial-prompt .alert {
    margin: 0;
}
.tutorial-prompt h3 {
    margin-top: 0;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: 0 -7px;
}
.panel {
    box-shadow: none;
    height: max-content;
}
.panel-default {
    border: 0;
    background-color: transparent;
}
.panel.panel-default {
    display: inline-block;
    box-shadow: 4px 4px 3px #DDD;
    max-width: 100%;
}
.panel-default > .panel-heading {
    color: #753470;
    background-color: rgba(0, 0, 0, 0.005);
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #753470;
    border-left: 2px solid #fff;
    border-top: 1px solid #fff;
    -webkit-box-shadow: inset 0px -3px 0px 0px #E6E6E6;
    box-shadow: inset 0px -3px 0px 0px #E6E6E6;
}
.panel-title {
    font-size: 1.5em;
}
.panel-default > .panel-body {
    background-color: rgba(255,255,255,.5);
}
.panel-default .panel-footer {
    padding: 10px 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel-body {
	border: 0;
	box-shadow: none;
    padding: 0;
}
.panel-body-admin {
    max-height: 70vh;
    overflow-y: auto;
}
.panel-body button {
	border: none;
}
.panel-body a {
    color: $dentix-main;
}
.panel-body button h3{
	font-size: 20px;
}
.panel-body.panel-form {
	padding: 0;
}
.panel-footer h3 {
	margin: 0;
	color: #FFF;
	font-size: 20px;
	display: inline-block;
}
.panel-footer button {
	float: right;
	padding: 2px 15px;
    background-color: #FFF;
    color: inherit;
}
.panel-body table .clinic {
    min-width: 100px;
}
.panel-body table .icons {
    width: 20px;
}
.panel-body table button {
	padding: 3px 10px;
}
.panel-body table button .glyphicon {
	padding: 3px;
    top: 0;
}
/* TABBED TANELS*/
.panel-default.panel-tabbed {
    background: transparent;
    box-shadow: none;
}
.panel-default.panel-tabbed .panel-heading {
    background-color: transparent;
    border-bottom: 2px solid $dentix-main;
    padding: 0;
}
.panel-default.panel-tabbed li {
	margin-right: 5px;
}
.panel-default.panel-tabbed li a, 
	.panel-default.panel-tabbed li a:hover {
	background-color: $dentix-main-35;
    color: $dentix-main;
    border: none;
    margin: 0;
}
.panel-default.panel-tabbed form {
	background-color: transparent;
	padding: 15px;
}
.panel-default.panel-tabbed form button {
	margin: 15px 0;
}
.panel-default.panel-tabbed .table-container {
	padding: 15px 30px;
}
.panel-default.panel-tabbed table {
	border-bottom: 0;
}
.panel-default.panel-tabbed table button {
    padding: 1px 3px;
    border-radius: 100%;
    margin: 5px 0;
}
.panel-default.panel-tabbed table .glyphicon {
    padding: 5px;
}
.panel-default.panel-tabbed .table-container table {
	margin-bottom: 0;
}

.panel-default.panel-tabbed li.active a {
	background-color: $dentix-main;
    color: $dentix-white;
    border: 0;
}
.panel-default.panel-tabbed li.active a:focus {
    border: 0;
}
.panel-default.panel-tabbed .panel-body {
    box-shadow: 3px 3px 7px $gray;
    padding: 0;
    border-radius: inherit;
    background: $dentix-white;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel-default.panel-tabbed .panel-body .btn-new {
    padding: 15px;
    display: block;
}
.panel-default.panel-tabbed .tab-content {
    background: $dentix-white;
    border-radius: none;
}
.panel-default.panel-tabbed .tab-content .list-group {
    margin: 0;
}
.panel-default.panel-tabbed .tab-content .list-group li {
    margin: 0;
    border: none;
}
.panel-default.panel-tabbed .tab-content .list-group li .panel-heading{
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted $dentix-secondary;
    padding: 5px 0;
}
.panel-default.panel-tabbed .tab-content .list-group li h4 a {
    background: transparent;
}
.panel-default.panel-tabbed .tab-content .list-group li h4 .clinic-hours {
    // display: inline-block;
    width: auto;
    float: right;
}
.panel-default.panel-tabbed .tab-content .list-group li h4 .clinic-hours span {
    font-size: 16px;
    padding: 5px 15px;
    background-color: $dentix-main-10;
    color: $dentix-main;
}
.panel-default.panel-tabbed .tab-content .list-group li .panel-body{
    box-shadow: none;
}
.panel-default.panel-tabbed .tab-content .list-group li .panel-body #schedule-inner-frame {
    box-shadow: none;
}
.panel-default.panel-tabbed #schedule-inner-frame #schedule-header {
    display: none;
}
.panel-default.panel-tabbed #schedule-container {
    padding: 0;
}
.panel-default.panel-tabbed #schedule-inner-frame #schedule-footer {
    display: none;
}
.panel-default.panel-tabbed .tab-content .list-group li .panel-footer{
    display: none;
}
.panel-body input.form-control, .panel-body select.form-control {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #CCC;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.075);
}
span.required-reminder {
    font-size: 2em;
    line-height: 0;
    color: red;
    vertical-align: middle;
}
span.glyphicon.glyphicon-exclamation-sign.error-icon {
    // position: absolute;
    float: right;
    // top: 38px;
    // right: 25px;
    color: rgb(150,0,0);
}
span.glyphicon.glyphicon-exclamation-sign.error-icon:hover .tooltip.error-tip {
    opacity: 1;
    display: block;
}
.tooltip.error-tip {
    right: 20px;
    // top: -30px;
    display: none;
    min-width: 200px;
    background: rgba(150, 0, 0, 0.85);
    padding: 0px;
    padding-top: 5px; 
    color: white;
    font-weight: bold;
    font-size: .9em;
    font-family: Arial;
}
.tooltip.error-tip ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tooltip.error-tip ul li {
    margin-bottom: 5px;
    line-height: 1.2;
    padding: 5px 10px 3px 10px;
}
.tooltip.error-tip ul li:nth-child(even) {
    color: rgb(150,0,0);
    background: rgba(255, 255, 255, 0.85);
}
/*2nd Level Panels*/
.panel .panel {
    width: 95%;
    box-shadow: none;
}
.panel-body .panel-heading {
    font-size: .7em;
    margin: 0 auto;
    color: #333;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #BBB;
    box-shadow: none;
    margin-bottom: 20px;
    background-color: transparent;
}
.panel-body .panel-body {
    background-color: transparent;
}
.list-badget {
    display: inline-block;
    float: none;
    font-size: 12px;
    padding: 5px 10px;
}
.list-badget .glyphicon {
    padding: 3px;
    top: 0;
}
.tab-content .table {
    padding: 15px;
    margin-bottom: 0;
}
.tab-content table tbody tr:nth-child(odd) {
    background: $gray-lighter;
}
.radio label, .checkbox label {
    margin-right: 20px;
}
.btn-center-box {
    display: block;
    text-align: center;
}
.help-block-login {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: $error;
    background: rgba(255,255,255,.9);
    border-left: 4px solid $error;
}
.help-block {
    display: block;
    margin: 0;
    color: $error;
    background: rgba($errorBase,.05);
    border-left: 4px solid $error;
}
button h3,h4 {
	margin: 2px;
}
.Password__badge.label{
    bottom: 30px;
    height: auto;
}
.loader-box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,.9);
    text-align: center;
    color: #753470;
    overflow: hidden;
    z-index: 2;
}
.fa.loading-box {
    font-size: 3em;
    top: 300px;
    position: absolute;
}
label h3 {
    margin: 0;
}
@media (max-width: 450px) {
	.panel-footer h3 {
		font-size: 14px;
		width: 150px;
	}
}