form#profile-create-form {
	background-color: transparent;
	padding: 15px;
}
#image-change-button {
	display: block;
	border: 0;
	border-radius: none;
	margin-bottom: 10px;
}
@media (max-width: 450px) {
	
}