.profile-pic-round > a {
  border: 3px solid $dentix-main-65;
  border-radius: 999px;
  overflow: hidden;
  padding: 0;
  }
#profile-info-box {

}
.profile-box-picture {
	width: 29%;
	display: inline-block;
	vertical-align: middle;
}
#profile-box-table {
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
#profile-box-table ul {
	width: 100%;
	float: right;
	margin-bottom: 0;
	padding: 10px 0;
}
#profile-box-table ul li {
	border-radius: 0;
	border-left: 0;
	border-right: 0;
}
#profile-box-table ul li:first-child {
	border-top: 0;
}
#profile-box-table ul li:last-child {
	border-bottom: 0;
}
#profile-info-box .profile-pic-round {
	margin: 10px auto;
    width: 90%;
    max-width: 130px;
}

@media (max-width: 720px) {
	.profile-box-picture {
		width: 100%;
	}
	#profile-box-table {
		width: 100%;
	}
	.profile-pic-round > a {
	    margin: 15px auto;
	}
}