#requests-info-box .panel-body {
	max-height: 55vh;
	overflow-y: auto;
}
#requests-info-box .panel-body#admin-requests-table {
	max-height: 60vh;
}
#requests-info-box .request-state h3 {
	margin-top: 5px;
}