#schedule-create-box {

}
#schedule-create-box .panel-default {
	box-shadow: none;
}
#schedule-create-box .panel-default {
	box-shadow: none;
}
#schedule-create-box #schedule-container {
	padding: 0;
}
#schedule-create-box #schedule-container .panel-heading {
	background: transparent;
	color: $dentix-secondary;
	border: none;
}
#schedule-create-box #schedule-container #schedule-footer {
	color: $dentix-secondary;
	border-top: 1px solid $dentix-main-65;
}
#schedule-create-box #schedule-container #schedule-footer .panel-footer {
	background: transparent;
}